---
layout: archive
title: "Research"
hidetitle: true
permalink: /research/
author_profile: true
---

Cooming soon...


<!-- {% include base_path %}

<a class="btn" href="/research/research_collection/">Research by category</a>

{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}

## Physics informed ML in civil engineering
### Untrained Model
<div style="height:400px">
    {% include anim/untrained.html%}
</div>

### Trained Model
<div style="height:400px">
    {% include anim/trained.html%}
</div> -->
