---
layout: archive
permalink: /blogs/cat_pdmesh/
title: "Pages by Category: PDMesh"
mytag: PDMesh
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% assign collection_tags = group_names | join: '~~~' | downcase | split: '~~~' %}
{% assign dtag = page.mytag | downcase %}

{% for tag in collection_tags %}
  {% if tag == dtag %}
    {% assign posts = group_items[forloop.index0] %}
    <h2 id="{{ tag | slugify }}" class="archive__subtitle">Posts with {{ page.mytag }}</h2>
    {% for post in posts %}
        {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}